body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar > a{
  display: inline-block;
  box-sizing: border-box;
  width: 70px;
  padding: 5px;
  margin: 0 6px 6px;
  background: lightblue;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px) ;
  color: black;
}

.lightSeaGreenBackground{
  background-color: lightseagreen;
}

.lightBlueBackground {
  background-color: lightblue;
}

.grid {
  grid-auto-columns: max-content;
}